<footer class="siteFooter">
    <section class="siteFooter__message">
        <header class="siteFooter__message__index">
            <div class="wrap">
                <h3 class="siteFooter__message__index__text">
                    メッセージ紹介
                </h3>
            </div>
        </header>
        <div class="siteFooter__message__content">
            <div class="wrap">
                <article class="message">
                    <header class="message__index">
                        <h4 class="message__index__name">
                            <strong>小野寺浩太</strong><small>さん</small><br class="-only-sp">（カーリング選手）
                        </h4>
                        <p class="message__index__description">
                        東京を拠点に活躍。‘15 アジアパシフィックツアー優勝、’17 日本選手権8位。
                        </p>
                    </header>
                    <div class="message__content">
                        <div class="message__content__text">
                            土屋さんは、NHKスポーツ中継班時代に、主にソチ五輪前後のカーリングの各種放映に携わり、まだまだ世間的な認知度が決して高くない頃から、競技の魅力や発展可能性を信じて、メディアの立場から様々ご尽力くださった方です。その結果、まさに先見の明があったと言えることは、今のブームから見ても明らかです。19年間のNHKでの経験で培ったそうした物事を見極める目、「鳥の目」「虫の目」「魚の目」は、今後大きな可能性を秘めた北区政において、存分に発揮できるものと確信しています。
                            政治には関心がないという方でも、とある個人を応援することが政治への入り口に繋がるとしたら、そんな個人として、私は自信を持って土屋さんを推薦致します
                        </div>
                        <figure class="message__content__img">
                            <img src="<%- $src %>common-footer-message-onodera.jpg" width="200" alt="カーリング小野寺選手から自民党北区総支部土屋和樹へ">
                        </figure>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="siteFooter__recruitment" id="member">
        <div class="wrap">
            <article class="recruitment">
                <figure class="recruitment__mv">
                    <img src="<%- $src %>common-footer-member-mv.jpg" width="830" alt="">
                    <figcaption class="recruitment__mv__index">
                       「あなたと。」
                    </figcaption>
                </figure>
                <section class="recruitment__content">
                    <p class="recruitment__message">
                        政治活動とは、仲間をつくることでもあります。<br>
                        ひとりひとりが小さな声でも、それをつなげて集めれば<br>
                        社会を動かす力になります。<br>
                        あなたと、喜びや悲しみ、そして怒りをともに分かちあいながら、<br>
                        政治家として一歩ずつ前へ進んでいきたい。<br>
                        その思いから、「友の会」を立ち上げました。<br>
                        ゼロからのスタートです。一緒に北区の未来を変えましょう。
                    </p>
                    <p class="recruitment__message--sub">
                        「土屋和樹と未来を変える友の会」では、土屋和樹の政治活動に賛同いただける方の参加をお願いし
                        ております。会員の皆様には各種活動報告などを送らせていただきます。入会費・年会費は一切ありません。また同会では併せて、個人の方からの、少しずつの寄付を募っております。
                    </p>
                    <div class="recruitment__content__footer js-effect">
                        <div class="button"><a href="/files/tomonokai/tomonokai-regulation.pdf" target="_blank">寄付のお願い<br>「友の会」規約（PDF）</a></div>
                    </div>
                </section>
                <footer class="recruitment__footer">
                    <p class="recruitment__footer__index">
                        入会・寄付をご希望の方は
                    </p>
                    <div class="recruitment__footer__content">
                        <p>
                            入会・寄付は、それぞれ次の方法で申し込みいただけます。
                        </p>
                        <ul class="dots">
                            <li>
                                申込用紙（PDF）を印刷いただき、必要事項ご記入の上FAXでお送りください<br>
                                FAX：03-6903-9807
                            </li>
                            <li>
                                メールをご希望の方は、下のボタンをクリックし、必要事項ご記入の上送信ください
                            </li>
                        </ul>
                    </div>
                    <ul class="recruitment__footer__buttons buttons js-effect">
                        <li class="button">
                            <a href="/files/tomonokai/tomonokai-inquire.pdf" target="_blank">
                                申込用紙（PDF）
                            </a>
                        </li>
                        <li class="button">
                            <a href="mailto:tsuchiya@asahinet.jp?subject=「友の会」入会・ご寄付&amp;body=【１・入会申込】%0d%0a◎「友の会」入会ご希望の方は以下の項目をご記入の上、送信ください%0d%0a・お名前（漢字）%0d%0a・お名前（ふりがな）%0d%0a・生年月日%0d%0a・ご住所（郵便番号から）%0d%0a・TEL%0d%0a・メールアドレス%0d%0a・その他ご質問などあれば%0d%0a %0d%0a※もし、北区にお住まいの親戚・友人・知人をご紹介いただける方は併せてご記入ください%0d%0a %0d%0a【２・寄付申込】%0d%0a◎「友の会」寄付ご希望の方は以下の項目をご記入の上、送信ください%0d%0a・金額%0d%0a・ご職業%0d%0a %0d%0a（ここから先は、１・入会申込で記入済みの方は不要です。寄付のみの方はご記入ください）%0d%0a・お名前（漢字）%0d%0a・お名前（ふりがな）%0d%0a・生年月日%0d%0a・ご住所（郵便番号から）%0d%0a・TEL%0d%0a・メールアドレス%0d%0a・その他ご質問などあれば">
                                メールの方はこちら
                            </a>
                        </li>
                    </ul>
                </footer>
            </article>
        </div>
    </section>
    <section class="siteFooter__relatedlinks">
        <div class="wrap">
            <section class="related">
                <section class="related__profile related__section">
                    <section class="profile">
                        <header class="profile__index related__section__index">
                            <h4 class="profile__index__text related__section__index__text">
                                <span>土屋</span>和樹
                            </h4>
                        </header>
                        <div class="profile__content">
                            平成の終わりに会社を辞めて政治の世界へ。<br>
                            東京都北区の希望に満ちた未来を考え、実現を目指します。<br>
                            昭和49年（1974年）生まれ。<br>
                            元NHK報道デスク。慶応義塾大学卒。
                        </div>
                        <footer class="profile__footer">
                            <ul class="relatedLinks">
                                <li><a href="" target="_blank" class="iconlink">ブログ</a></li>
                            </ul>
                        </footer>
                    </section>
                    <section class="office">
                        <header class="office__index">
                            <h5 class="office__index__text">土屋和樹事務所</h5>
                        </header>
                        <div class="office__content">
                            <div class="office__row">
                                <div class="office__col">
                                    <div class="office__col__content">
                                        〒115-0043　東京都北区神谷3-4-1-2F（環七×北本通りの角です）
                                    </div>
                                </div>
                            </div>
                            <div class="office__row">
                                <div class="office__col">
                                    <div class="office__col__header">
                                        TEL
                                    </div>
                                    <div class="office__col__content">
                                        03-6903-9805
                                    </div>
                                </div>
                                <div class="office__col">
                                    <div class="office__col__header">
                                        FAX
                                    </div>
                                    <div class="office__col__content">
                                        03-6903-9807
                                    </div>
                                </div>
                            </div>
                            <div class="office__row">
                                <div class="office__col">
                                    <div class="office__col__header">
                                        E-mail
                                    </div>
                                    <div class="office__col__content">
                                        <a href="mailto:">*************@.***</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                </section>
                <section class="related__sns related__section">
                    <section class="sns">
                        <header class="sns__index related__section__index">
                            <h4 class="sns__index__text related__section__index__text">
                                <span>SNS</span>も発信中
                            </h4>
                        </header>
                        <div class="sns__content">
                            <a class="twitter-timeline" href="https://twitter.com/tsuchiyakitaku?ref_src=twsrc%5Etfw" data-tweet-limit="10" data-link-color="#0497fc" data-border-color="#d9eff4" data-chrome="noheader nofooter">Tweets by tsuchiyakitaku</a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>                       
                    </section>
                </section>
            </section>
        </div>
    </section>
    <section class="siteFooter__footer">
        <div class="wrap">
            <div class="siteFooter__logo">
                <img src="<%- $src %>common-logo-start.svg" width="220" alt="">
            </div>
            <div class="siteFooter__nav">
                <%- include('nav.ejs'); %>
            </div>
        </div>
    </section>
</footer>
<i class="navToggle">
    <i class="navToggle__line">
    </i>
    <span class="navToggle__span">メニュー</span>
</i>
<%- include( '_scripts.ejs' ); %>