<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130131482-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'UA-130131482-1');
</script>
  <meta charset="UTF-8" />
  <meta http-equiv="X-Ua-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, user-scalable=yes">
  <title><%- $meta.title %></title>
  <meta name="keywords" content="<%- $meta.keywords %>">
  <meta name="description" content="<%- $meta.description %>">
  <meta property="og:title" content="<%- $meta.og.title %>">
  <meta property="og:site_name" content="<%- $meta.og.sitename %>">
  <meta property="og:description" content="<%- $meta.og.description %>">
  <meta property="og:type" content="<%- $meta.og.type %>">
  <meta property="og:image" content="<%- $meta.og.image %>">
  <meta property="og:image:width" content="1200" /> 
  <meta property="og:image:height" content="630" />
  <meta property="og:url" content="<%- $meta.og.url %>">
  <meta property="og:locale" content="ja_JP">
  <meta property="fb:app_id" content="2184201708535530">
  <meta name="twitter:card" content="summary">
  <!-- <meta name="twitter:site" content="@flickr" > -->
  <% if( $active == 'contactDone' ){ %><meta name="robots" content="noindex,nofollow"><% } %>
  <meta name="twitter:title" content="<%- $meta.twitter.title %>">
  <meta name="twitter:description" content="<%- $meta.twitter.description %>">
  <link rel="icon" type="image/png" href="<%- $path %>../img/common-favicon.png">
  <link rel="apple-touch-icon" href="<%- $path %>../img/common-favicon.png" sizes="144x144">
</head>