<% 
	include( '_include/_function.ejs' );
	$path = './';
	$src = $path + '../img/';
	$src_gallery = $src + 'gallery-';
	$active = 'gallery';
%>
<!DOCTYPE html>
<html>
<%- include( '_include/head.ejs' ); %>
<body class="gallery subpage">
	<%- include( '_include/_loadingAnim.ejs' ); %>
	<%- include( '_include/header.ejs' ); %>
	<main id="container">
        <%- include( '_include/_subpagemv.ejs',{ $title: '資料'}) %>
		<section class="belowcontent">
            <section class="intro">
                <div class="wrap">
                    街などでお配りした資料を<br>
                    インターネットでも読めるように更新しています。
                </div>
            </section>
            <section class="section section--gallery">
                <div class="wrap">
                    <ul class="posts">
                        <!-- ***** 投稿 -->
                        <li class="post">
                            <!-- *** 画像 -->
                            <figure class="post__img">
                                <img src="<%- $src_gallery %>post-dummy.jpg" width="300" alt="">
                            </figure>
                            <!-- /// -->
                            <!-- ***日付 -->
                            <div class="post__date">
                                2012.12.12
                            </div>
                            <!-- /// -->
                            <!-- ***タイトル（30文字以内目安 -->
                            <h2 class="post__title">
                                資料の名目入ります。タイトル等。30文字程度でお考えください。
                            </h2>
                            <!-- /// -->
                            <!-- *** ファイルへのリンク a href="/files/items/~~ファイル名" -->
                            <div class="button button--secondary"><a href="/files/items/~~" target="_blank">資料を読む</a></div>
                            <!-- /// -->
                        </li>
                        <!-- ///// -->
                        <!-- ***** 投稿 -->
                        <li class="post">
                            <!-- *** 画像 -->
                            <figure class="post__img">
                                <img src="<%- $src_gallery %>post-dummy.jpg" width="300" alt="">
                            </figure>
                            <!-- /// -->
                            <!-- ***日付 -->
                            <div class="post__date">
                                2012.12.12
                            </div>
                            <!-- /// -->
                            <!-- ***タイトル（30文字以内目安 -->
                            <h2 class="post__title">
                                資料の名目入ります。タイトル等。30文字程度でお考えください。
                            </h2>
                            <!-- /// -->
                            <!-- *** ファイルへのリンク a href="/files/items/~~ファイル名" -->
                            <div class="button button--secondary"><a href="/files/items/~~" target="_blank">資料を読む</a></div>
                            <!-- /// -->
                        </li>
                        <!-- ///// -->
                        <!-- ***** 投稿 -->
                        <li class="post">
                            <!-- *** 画像 -->
                            <figure class="post__img">
                                <img src="<%- $src_gallery %>post-dummy.jpg" width="300" alt="">
                            </figure>
                            <!-- /// -->
                            <!-- ***日付 -->
                            <div class="post__date">
                                2012.12.12
                            </div>
                            <!-- /// -->
                            <!-- ***タイトル（30文字以内目安 -->
                            <h2 class="post__title">
                                資料の名目入ります。タイトル等。30文字程度でお考えください。
                            </h2>
                            <!-- /// -->
                            <!-- *** ファイルへのリンク a href="/files/items/~~ファイル名" -->
                            <div class="button button--secondary"><a href="/files/items/~~" target="_blank">資料を読む</a></div>
                            <!-- /// -->
                        </li>
                        <!-- ///// -->
                        <!-- ***** 投稿 -->
                        <li class="post">
                            <!-- *** 画像 -->
                            <figure class="post__img">
                                <img src="<%- $src_gallery %>post-dummy.jpg" width="300" alt="">
                            </figure>
                            <!-- /// -->
                            <!-- ***日付 -->
                            <div class="post__date">
                                2012.12.12
                            </div>
                            <!-- /// -->
                            <!-- ***タイトル（30文字以内目安 -->
                            <h2 class="post__title">
                                資料の名目入ります。タイトル等。30文字程度でお考えください。
                            </h2>
                            <!-- /// -->
                            <!-- *** ファイルへのリンク a href="/files/items/~~ファイル名" -->
                            <div class="button button--secondary"><a href="/files/items/~~" target="_blank">資料を読む</a></div>
                            <!-- /// -->
                        </li>
                        <!-- ///// -->
                        <!-- ***** 投稿 -->
                        <li class="post">
                            <!-- *** 画像 -->
                            <figure class="post__img">
                                <img src="<%- $src_gallery %>post-dummy.jpg" width="300" alt="">
                            </figure>
                            <!-- /// -->
                            <!-- ***日付 -->
                            <div class="post__date">
                                2012.12.12
                            </div>
                            <!-- /// -->
                            <!-- ***タイトル（30文字以内目安 -->
                            <h2 class="post__title">
                                資料の名目入ります。タイトル等。30文字程度でお考えください。
                                資料の名目入ります。タイトル等。30文字程度でお考えください。
                                資料の名目入ります。タイトル等。30文字程度でお考えください。
                            </h2>
                            <!-- /// -->
                            <!-- *** ファイルへのリンク a href="/files/items/~~ファイル名" -->
                            <div class="button button--secondary"><a href="/files/items/~~" target="_blank">資料を読む</a></div>
                            <!-- /// -->
                        </li>
                        <!-- ///// -->
                        <!-- ***** 投稿 -->
                        <li class="post">
                            <!-- *** 画像 -->
                            <figure class="post__img">
                                <img src="<%- $src_gallery %>post-dummy.jpg" width="300" alt="">
                            </figure>
                            <!-- /// -->
                            <!-- ***日付 -->
                            <div class="post__date">
                                2012.12.12
                            </div>
                            <!-- /// -->
                            <!-- ***タイトル（30文字以内目安 -->
                            <h2 class="post__title">
                                資料の名目入ります。
                            </h2>
                            <!-- /// -->
                            <!-- *** ファイルへのリンク a href="/files/items/~~ファイル名" -->
                            <div class="button button--secondary"><a href="/files/items/~~" target="_blank">資料を読む</a></div>
                            <!-- /// -->
                        </li>
                        <!-- ///// -->
                        <!-- ***** 投稿 -->
                        <li class="post">
                            <!-- *** 画像 -->
                            <figure class="post__img">
                                <img src="<%- $src_gallery %>post-dummy.jpg" width="300" alt="">
                            </figure>
                            <!-- /// -->
                            <!-- ***日付 -->
                            <div class="post__date">
                                2012.12.12
                            </div>
                            <!-- /// -->
                            <!-- ***タイトル（30文字以内目安 -->
                            <h2 class="post__title">
                                資料の名目入ります。タイトル等。30文字程度でお考えください。
                            </h2>
                            <!-- /// -->
                            <!-- *** ファイルへのリンク a href="/files/items/~~ファイル名" -->
                            <div class="button button--secondary"><a href="/files/items/~~" target="_blank">資料を読む</a></div>
                            <!-- /// -->
                        </li>
                    </ul>
                </div>

            </section>
		</section>
	</main>
	<%- include( '_include/footer.ejs' ); %>
</body>
</html>