<% 
	include( '_include/_function.ejs' );
	$path = './';
	$src = $path + '../img/';
	$active = 'top';
%>
<!DOCTYPE html>
<html>
<%- include( '_include/head.ejs' ); %>
<body class="top">
	<%- include( '_include/_loadingAnim.ejs' ); %>
	<%- include( '_include/header.ejs' ); %>
	<main id="container">
		<section class="mv">
			<div class="wrap">
				<h2 class="mv__copy">
					私が変える。<br>
					<span class="mv__copy__attention">あなたと、</span>変える。
				</h2>
				<figure class="mv__img">
					<img src="<%- $src %>top-mv-tsuchi.png" width="460" alt="NHK報道デスクから政治家 自民党東京都北区総支部 土屋和樹">
				</figure>
				<ul class="mv__anchorlinks">
					<li class="mv__anchorlink button button--toIntro"><a href="#introduction"><img src="<%- $src %>top-mv-profilebaloon.svg" srcset="/assets/img/_sp/top-mv-profilebaloon.svg 768w, /assets/img/top-mv-profilebaloon.svg" width="100" height="105" alt="NHK報道デスクから政治家に 土屋和樹とは"></a></li>
					<li class="mv__anchorlink button button--toManifest"><a href="#manifest"><img src="<%- $src %>top-mv-manifestbaloon.svg" srcset="/assets/img/_sp/top-mv-manifestbaloon.svg 768w, /assets/img/top-mv-manifestbaloon.svg" width="100" height="105" alt="東京都北区の未来のために 土屋和樹の政策"></a></li>
				</ul>
			</div>
			<i class="mv__bg"></i>
		</section>
		<section class="belowcontent">
			<section class="section section--greeting" id="introduction">
				<div class="wrap">
					<header class="section__index">
						<h3 class="section__index__text">
							はじめまして、土屋和樹です
						</h3>
					</header>
					<div class="section__content">
						<p>
							東日本大震災、原発事故、関東・東北豪雨。<br>
							19年半、報道という仕事を通して被災地を歩いてきました。<br>
							そこで胸を打たれたのは、まちの人たちが懸命にふるさとの未来を考え、<br>
							時にはもがきながらも、手を携えて前へ進む姿でした。
						</p>
						<p>
							自分は東京のために何ができるだろうか。<br>
							そう考えた末、これからは社会の傍観者から当事者として、<br>
							「頑張るまちの人たちとともに未来を切り開きたい」という思いに至りました。<br>
							北区はまだまだ知らないことばかりです。<br>
							知ったかぶりをせず、多くの方の言葉に耳を傾けながら奮励努力してまいります。<br>
							応援のほどよろしくお願いいたします。
						</p>
					</div>
					<footer class="section__footer js-effect">
						<div class="button"><a href="/profile.html">プロフィールを見る</a></div>
					</footer>
				</div>
			</section>
			<section class="section section--manifest" id="manifest">
				<div class="wrap">
					<%- include( '_include/_component-manifestnav.ejs' );%>
				</div>
			</section>
			<footer class="section--attention js-effect">
				<div class="wrap">
					<div class="attention">
						<figure class="attention__tsuchiya">
							<img src="<%- $src %>top-mv-tsuchi.png" width="90" alt="">
							<figcaption class="attention__tsuchiya__word">
								あなたのまちの課題も<br>
								お聞かせください！
							</figcaption>
						</figure>
						<div class="button"><a href="/policy.html">土屋和樹の政策を見る</a></div>
					</div>
				</div>
			</footer>
		</section>
	</main>
	<%- include( '_include/footer.ejs' ); %>
</body>
</html>